<p><b>User status after session:</b></p>
<table style="table-layout: auto;">
	<tbody>
		<tr><td>Level:</td> <td>{{level}}</td></tr>
		<tr><td>Points:</td> <td>{{points}}</td></tr>
		<tr><td>Coins:</td> <td>{{coins}}</td></tr>
	</tbody>
</table>