
<section class='main-content' id='mainC'>
	Your account id is:
	<div class="alertText">{{id}}</div>
	{{#unless isadmin}}
	Your password is:
	<div class="alertText">{{pw}}</div>
	{{/unless}}
	Be sure to <b>record this information</b>, as it is needed to log in. <br>
	
	{{#unless isadmin}}
	The next step is to link your account to another. <br><br>
	<a href='/account/' class='btn'>Manage Account</a>
	{{/unless}}
	
	<a href='/' class='btn'>Return to Home</a>
	
	{{#if isuser}}
	<br><br>
	FYI, the fake birthdate we will use for you is {{birth}}.
	There's a small chance (less than 3%) that this is your real birthday, but if so,
	that's just a lucky guess. All we know on our end is that it's within a couple
	of months of your real birthday.
	{{/if}}
	
</section>