
<section class="main-content">
	<!--FORM-->
	<form method="POST" name="login" id="loginForm" action="/account/login" onsubmit="return validate();">
		<input type="hidden" name="redirect" value="{{redirect}}">
		<fieldset>
			<legend>{{ac_login}}</legend>
			<div>
				<label for="id">ID:</label>
				<input type="text" name="id" id="id" placeholder="uXXXX" maxlength="9" required>
			</div>
			<div>
				<label for="pw">{{_Password}}:</label>
				<input type="password" name="pw" id="pw" maxlength="255" required>
			</div>
			<input type="submit" value="Log in" class="btn">
		</fieldset>
	</form>
	<p>
		{{login_p_cookie}}
	</p>
</section>

<script src="/scripts/account.js"></script>
<script>
	// Client-side validate id
	function validate(){
		let id = $("#id").val();
		// validate_id is from account.js
		if(validate_id(id) == "-"){
			alert("Invalid ID");
			return false;
		}
		return true;
	}
</script>