
<section class='main-content'>
	{{#if fn}}
	<h2>{{fn}},</h2>
	{{/if}}
	<p>
		Your report has been saved, and we will try to get working on it as soon as possible.
	</p>
	<p>
		Thank you for your feedback.
	</p>
	<a href='/' class='bigBtn'>Return to Home</a>
</section>
