
<section class='main-content' id='mainC'>
	<h2>Waiting for session to start</h2>
	<p style='text-align:center;'><img src='/media/loading.gif' alt='Loading' width='128' height='128' align='middle'></p>
</section>
<script>
	var url = '/session/ssu';
	
	var ss_vars = {
		//30 tries, 2s per try --> 1 min
		"tryN" : 0,
		"max_tries" : 30,
		"period" : 2000,
		"already_left" : false,
		"next" : false
	};
	window.onbeforeunload = leave;
	window.onpagehide = leave;
	
	look();
	function cleanup(){
		ss_vars = {};
	}
	function look(){
		if(ss_vars.tryN < ss_vars.max_tries){
			ss_vars.tryN++;
			var xhr = new XMLHttpRequest();
			var reqBody = 'reqType=started';
			xhr.open('POST', url, true);
			xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
			xhr.onreadystatechange = function(){
				if(xhr.readyState == 4){
					let resParts = xhr.responseText.split("=");
					switch(resParts[0]){
						case "msg":
							if(resParts[1] == "wait")
								setTimeout(look, ss_vars.period);
							else
								alert("Unknown Response");
							break;
						case "next":
							cleanup();
							ss_vars.next = true;
							if(resParts[1] == "sesu")
								window.location.href = "/session/sesu";
							else if(resParts[1] == "session_ended")
								window.location.href = "/session/session_ended";
							else
								alert("Unknown Response");
							break;
						case "err":
							cleanup();
							ss_vars.next = true;
							window.location.href = "/error/"+resParts[1];
							break;
						default:
							alert("Unknown Response");
					}
				}
			};
			xhr.send(reqBody);
		}
		else{//Timeout
			var xhr = new XMLHttpRequest();
			var reqBody = 'reqType=timeout';
			xhr.open('POST', url, true);
			xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
			xhr.onreadystatechange = function(){
				if(xhr.readyState == 4){
					window.location.href = "/error/toe";
				}
			};
			xhr.send(reqBody);
		}
	}
	
	function leave(){
		/**
		*	Called if the user closes the tab
		*/
		if(!(ss_vars.next || ss_vars.already_left)){
			cleanup();
			var xhr = new XMLHttpRequest();
			var reqBody = 'reqType=leave';
			xhr.open('POST', url, true);
			xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
			xhr.send(reqBody);
			ss_vars.already_left = true;
		}
	}
</script>