
<section class='main-content'>
	<h2>Consent Survey</h2>
	<p>[Blurb about purpose and information]</p>
	<form method="POST" name="consent_YN">
		<input type="radio" id="consent_Y" name="consent" value="Y">
		<label for="consent_Y">Yes</label><br>
		<input type="radio" id="consent_N" name="consent" value="N">
		<label for="consent_N">No</label><br>
		<input type="submit" value="Submit" class="btn">
	</form>
</section>
